body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 60px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.image-preview-container {
  text-align: center;
}

#imagePreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: none;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.image-name {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  display: none;
}
